body {
    font-family: sans-serif;
    margin: 0;
}

nav a{
    color: white;
    font-size: 24px;
    font-weight: 900;
    text-decoration: none;
  
 
    }
nav{display: flex;
justify-content: space-around;}
header{background-color: black;
padding: 10px;}
main{margin: 5%;}


nav a:hover{color:  grey;
transition: 1s;}

h1{text-align: center;
font-size: 64px;}


.tovar,.tavar{display: flex;
justify-content: space-around;}

.tovar a{text-decoration: none;
font-size: 18px;
font-weight: 900;
color:black}


.foto{display:flex;
justify-content: center;
    height: 450px;

 
    margin-top: 20px;
    }


    .tavar img{width:200px;
               height: 200px;}

.tavar article{border: 1px solid gray;
padding: 5px;
line-height: 30px;
border-radius: 10px;
box-shadow: 5px 5px 5px 5px gray;
text-align: center;
width: 270px;}

.inter{font-size: 25px;
font-style: italic;}

.tavar{margin-top: 100px;}



p{text-align: center;
font-weight: 900;}




footer {display: flex;
justify-content: space-around;
	padding: 30px;
background-color: grey;}



.zir{font-weight: 900;}


li{list-style: none;
	line-height: 40px;
}


li:hover{color: white;
transition: 1s;}

h1:hover{text-shadow: 9px 10px 33px black;transition:1s;}
